<% title 'Tasks' %> 

<% @tasks.each do |task| %>
    <div class="task">
        Name: <%= task.name %><br>
        Due Date: <%= task.due_date %><br>
        Priority: <%= task.priority %>
    </div> 
<% end %>

<%= link_to "Create Task", new_task_path %>